{% extends "base.html" %}
{% load cache %}
{% block content %}
  {% cache 600 everything %}
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 10%">
        <h1>Pytosquatting</h1>
        <p><del>Work in progress:</del> Fixing typosquatting+namesquatting threats in Python Package Index (PyPI).</p>
        <h2>Subsequent updates</h2>
        <p><em style="color: #777">Last updated: 20191206</em></p>
        <p>20191201: In-the-wild malware found on PyPi stealing PGP and SSH keys through namesquatted <code>python3-dateutil</code> library <a href="https://www.zdnet.com/article/two-malicious-python-libraries-removed-from-pypi/">[ZDNet]</a></p>
        <p>20190717: Company ReverseLabs writes a blog post <a href="https://blog.reversinglabs.com/blog/suppy-chain-malware-detecting-malware-in-package-manager-repositories">SupPy Chain Malware</a>, finding 3 packages on PyPi that install backdoors, one of which has 82 downloads per month on average.</p>
        <p>20181209: A <a href="https://github.com/rsc-dev/pypi_malware">Github repository</a> by developer "roscoe" discloses 18 typosquatted packages, some uploading user credentials, others installing malware.
        <p>20181013: Independent security researcher Bertus <a href="https://medium.com/@bertusk/detecting-cyber-attacks-in-the-python-package-index-pypi-61ab2b585c67">announces</a> that a code analysis reveals 12 malicious packages on PyPi.</p>
        <p>20180508: <a href="https://www.reddit.com/r/Python/comments/8hvzja/backdoor_in_sshdecorator_package/">A post on Reddit</a> explains how the package <code>ssh-decorator</code> sends a user's private SSH key to a server on the internet. The Github and PyPi projects are since then taken down. Evidence is inconclusive as to whether the original author of the package had their PyPi credentials hijacked or was complicit.</p>

        <h2>Epilogue</h2>
        <p>We have closed the Pytosquatting initiative for now. This is because Python Security Response Team (PSRT) has announced that they will take action (see below Timeline).</p>
        <h2>Timeline</h2>
        <p>In June 2016, <a href="http://incolumitas.com/2016/06/08/typosquatting-package-managers/">Typosquatting programming language package managers</a> stated that <code>urllib2</code> had ~4,000 downloads in 2 weeks. But in June 2017, we found the same package name vacant and so we (being the good guys) squatted it for several months up until this disclosure. We take these findings seriously.</p>
        <p>20170519: Steve Stagg writes about how he registered stdlib names, sent emails and that <a href="https://hackernoon.com/building-a-botnet-on-pypi-be1ad280b8d6">»I raised an issue on the official pypi github issue tracker in January. This also got no reply.«</a></p>
        <p>20170628: <a href="https://github.com/pypa/warehouse/issues/2151">PyPI Warehouse issue #2151</a> is opened. Title is "Block package names that conflict with core libraries", but no names were blocked.</p>
        <p>20170913: We squatted all available names of stdlib packages (128) - scroll down to see statistics from pingbacks.</p>
        <p>20170914: A number of in-the-wild <del>malicious</del> packages on PyPI were disclosed by <a href="http://www.nbu.gov.sk/skcsirt-sa-20170909-pypi/">Slovak National Security Authority</a>.</p>
        <p>20170917: PyPI's main developer Donald Stufft creates <a href="https://github.com/pypa/warehouse/pull/2396">PR#2396</a> for database-backed blacklisting of package names. It's unclear how they want to apply the blacklistings, but it would mean a more efficient process for administrators. Most of the stdlib names that we squatted are black listed.</p>
        <p>20170922: Python Security Response Team (PSRT) takes action <a href="https://mail.python.org/pipermail/security-announce/2017-September/000000.html">by announcing a detailed plan</a> to mitigate future attacks. The plan is included in an over-all boost of PyPy, receiving a $170k grant from Mozilla Foundation.</p>

        <h2>Mitigation</h2>
        <p>Here's a couple of proprosals that we originally posted -- which have since then been expanded in a nice way in <a href="https://mail.python.org/pipermail/security-announce/2017-September/000000.html">PSRT's security announcement</a>.</p>
        <ul>
          <li><strong>Strategy #1:</strong> We are namesquatting a bunch of stuff on PyPI (all available Python 2 and Python 3 standard libraries). So no matter if you use the security hardened Pip installer, we have managed to mitigate the bulk of the immediate problem.</li>
          <li><strong>Strategy #2:</strong> Use a Pip installer that does safety lookups and fails loudly if the attempted package name does not validate. This should be implemented in your automated deployments and test builds!</li>
        </ul>

        <h2>Aftermath</h2>
        <p>We had a pingback in the <code>setup.py</code> of packages involved in Strategy #1, meaning that during a limited duration, we gathered statistics on the extend of the issue. The callback didn't involve any stats from user systems, just an IP so we can count that a unique system has attempted to install a non-existing package that <em>could</em> have been exploited.</p>
        
        <p>We are calling for analysis of the current PyPI resources to find in-the-wild exploits of typosquatting as <a href="http://www.nbu.gov.sk/skcsirt-sa-20170909-pypi/">Slovak National Security Authority</a> has done. We hope there are none, but the problem has been around for a long time, and our primer didn't get reactions from the PyPI admins.</p>

        <h2>Mockup of Strategy #2</h2>
        
        <p>Once done, we hope to achieve a better pip installer that:</p>
        <ul>
          <li>Verifies that you don't install a package with the name of a stdlib</li>
          <li>Asks a webservice or local database if you are installing a typo of a popular package</li>
        </ul>
        <p>It could look like this...</p>
        <p>
          <pre>
pip install pipsec  # Install security-hardening plugin for pip
pip install virtualenv-wrapper  # See that it fails
pip install virtualenvwrapper  # This is correct
          </pre>
        </p>

        <p>It seems to be hinted by the closure of <a href="https://github.com/pypa/pip/issues/4527">pip#4527</a> that attempts to add security to the client side isn't popular. Arguments are weak, though, so there's no real reason not to do something like the above.</p>

        <h2>Media</h2>
        
        <p><a href="https://arstechnica.com/information-technology/2017/09/devs-unknowingly-use-malicious-modules-put-into-official-python-repository/">Ars Technica: Devs unknowingly use “malicious” modules snuck into official Python repository</a></p>
        
        <p><a href="https://www.golem.de/news/pypi-boesartige-python-pakete-entdeckt-1709-130098.html">Golem.de: Bösartige Python-Pakete entdeckt (DE)</a></p>
        
        <p><a href="https://news.ycombinator.com/item?id=15256121">Hacker News: Malicious software libraries found in PyPI posing as well known libraries</a></p>

        <h2>Ack</h2>
        <p>
        Send comments or complaints to
        <a href="https://overtag.dk/">Benjamin Bach</a> and
        <a href="https://hboeck.de/">Hanno Böck</a>.
        </p>
        <p>
          Check out the code for this website on
          <a href="https://github.com/benjaoming/pytosquatting">https://github.com/benjaoming/pytosquatting</a>.
        </p>

        <hr>
        
        <h2>Appendix</h2>

        <h3>Stdlib installations</h3>
        
        <p>
          Blocked stdlib installations since 20170913-20170916: <strong>{{ total_unique_ips }}</strong>
        </p>
        
        <p>
          On 20170916, PyPI removed our Top 20 of squatted packages, so our statistics won't match up anymore. They didn't remove the other 108 squatted packages.
        </p>
        
        <table>
        <thead>
        <tr>
          <th></th>
          <th>Package</th>
          <th style="text-align: right">Average per day</th>
          {% comment %}<th>Total unique hits</th>{% endcomment %}
        </tr>
        </thead>
        <tbody>
        {% for pkg in top %}
        <tr>
          <td style="text-align: right">{{ forloop.counter }}</td>
          <td>{{ pkg.package_name }}</td>
          <td style="text-align: right">{{ pkg.avg_per_day|floatformat:1 }}</td>
          {% comment %}<td>{{ pkg.unique_count }}</td>{% endcomment %}
        </tr>
        {% endfor %}
        </tbody>
        </table>


      </div>
    </div>
  </div>
{% endcache %}
{% endblock %}
